

.about-grid {
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  .texts-area {
    flex: 2;
    padding: 3em;
    p{

      font-size: 1.2em;
    }
  }

  .image-area {
    padding: 3em;
    flex: 1;
  }
}
