<div class="about-me">
  <app-section-title sectionTitle="About Me" sectionNumber="01."></app-section-title>

  <section class="about-grid">
    <div class="texts-area">
      <p>My name is Daniel Tanaka Mpofu and I am a FullStack web developer. My interest in web development started back
        in 2016 when I learnt to create HTML files and open them in a browser on my local computer.
        <br>
        <br>
        Fast-forwarding time to present, I've had the privilege to work in and Insurance company, FinTech companies and
        I've worked with some advertising agencies as well.
        <br>
        <br>
        I've also created an e-commerce skeleton project in Laravel (Backend), Angular (Front-end), Flutter (Mobile
        Application) and I've uploaded the code to my GitHub to help other developers to freely & quickly deploy their
        solutions. I called it the Open-Ecom Project</p>

      <app-list [listTitle]="'Here are a few technologies I\'ve been working with recently:'" [listThings]="techNos"></app-list>
    </div>
    <div class="image-area">
      <img src="https://via.placeholder.com/300.png/09f/111" alt="">
    </div>
  </section>
</div>

