.list-body {
  padding-top: 1em;

  ul {
    list-style-type: none;

    li {
      padding-top: .8em;
      .lii{
        color: red;
        margin-right: .3em;
      }
      .data{
        color: black;
      }
    }
  }
}
