<div class="intro-container">
    <p #hiText class="hi-text">Hi my name is</p>
    <p #myName class="my-name">Daniel T Mpofu</p>
    <p #ibdText class="what-i-do">I build nice things ...</p>

    <div #bio class="bio-text">
        <p class="current-bio">
            I’m a FullStack software developer specializing in
            building (and occasionally designing) exceptional
            digital experiences. Currently, I’m focused on
            building FINTECH products at XARANI PVT.</p>
    </div>
</div>