<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My portfolio</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Poppins&family=Work+Sans:wght@300;800&display=swap"
        rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Poppins&family=Work+Sans:wght@300;500;800&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="assets/css/site.css">
    <link rel="stylesheet" href="assets/css/responsive.css"> -->
</head>

<body>
<div class="scroll-down-text">
  <h2>Scroll Down >></h2>
</div>

<div class="top-email">
  <h3>danielmpofu123@gmail.com</h3>
</div>

<div class="parent">
  <section class="vertical-nav">
    <div class="nav-inner">
      <div class="logo">
        <h1>D<span>M</span></h1>
      </div>
      <ul #menu>
        <li>
          <a href="">
            <p><span>About</span></p>
          </a>
        </li>

        <li>
          <a href="">
            <p> <span>Experience</span></p>
          </a>
        </li>

        <li>
          <a href="">
            <p><span>Work</span></p>
          </a>
        </li>

        <li>
          <a href="">
            <p><span>Contact</span></p>
          </a>
        </li>

        <li>
          <a href="">
            <p><span>Resume</span></p>
          </a>
        </li>

      </ul>

      <div class="social-icons-container">
        <ul #socialIcons class="social-icons">
          <li><img src="assets/img/svg/github.svg" alt=""></li>
          <li><img class="linkedin" src="assets/img/svg/linkedin.svg" alt=""></li>
          <li><img src="assets/img/svg/instagram.svg" alt=""></li>
          <li>
            <div class="line-container">
              <div class="line"></div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </section>

  <section class="app-body">
    <!-- <app-home></app-home> -->
    <app-intro></app-intro>
    <div class="activity-section">
      <app-about-me></app-about-me>
    </div>

    <div class="activity-section">
      <app-experience></app-experience>
    </div>

    <div class="activity-section">
      <app-work></app-work>
    </div>
    <div class="activity-section">
      <app-other-projects></app-other-projects>
    </div>
    <div class="activity-section">
      <app-contact></app-contact>
    </div>

    <div class="activity-section">
      <app-resume></app-resume>
    </div>

  </section>

</div>


</body>

</html>
